<!DOCTYPE html>
<html layout:decorate="~{layout}">

<head>
    <meta charset="UTF-8" />
</head>

<body>
    <section class="layout-content" layout:fragment="corpo">

        <div class="container" style="text-align: center;">
            <img alt="" th:src="@{/image/image.png}" style="width:80px;">
        </div>

        <div class="container mb-4">
            <!-- Formulário para filtrar por cidade -->
            <form class="form-inline justify-content-center" th:action="@{/filtrar}" method="get">
                <div class="form-group mx-2">
                    <label for="cidadeFiltro" class="mr-2" th:text="#{vaga.cidade.filtro.label}"></label>
                    <select class="form-control" id="cidadeFiltro" name="cidade">
                        <option value="" th:text="#{vaga.cidade.filtro.todos}"></option>
                        <option th:each="cidade : ${cidades}" th:value="${cidade}" th:text="${cidade}"></option>
                    </select>
                </div>
                <button type="submit" class="btn btn-secondary ml-2">
                    <span th:text="#{vaga.cidade.filtro.botao.label}">Filtrar</span>
                </button>
            </form>
        </div>

        <div class="container" id="listagem">
            <div th:replace="fragments/alert"></div>
            <div th:replace="fragments/vaga-listagem :: content"></div>
        </div>

    </section>
</body>

</html>